# -------------------------
# Python
# -------------------------
__pycache__/
*.py[cod]
*$py.class

# -------------------------
# Virtual Environment
# -------------------------
venv/
env/
ENV/
.venv/

# -------------------------
# Django
# -------------------------
*.log
*.pot
*.pyc
*.sqlite3  # لو استعملت SQLite
db.sqlite3
media/
staticfiles/

# -------------------------
# MySQL / Database
# -------------------------
*.sql
*.dump
*.sql.gz

# -------------------------
# Environment
# -------------------------
.env
.env.*

# -------------------------
# VS Code / IDE
# -------------------------
.vscode/
.idea/

# -------------------------
# Misc
# -------------------------
*.swp
.DS_Store
